* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

:root {
  --purple: #4d036e;
  --green: #41ff00;
}

html {
  font-size: 62.5%;
  color: var(--green);
  background-color: var(--purple);
  
}


.App {
  text-align: center;
}

.header {
  margin:2rem 0;
  height: 10vh;
  font-size:.8rem;
}

.footer {
  /* background: red; */
  height: 5vh;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.sound-icon {
  background-color: var(--purple);
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  /* position: fixed;
  bottom: 2rem;
  left: 1rem; */
  border: none;
  box-shadow: none;
}

.content {
  /* background:yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 60vh;
}

.underline {
  background: var(--green);
  padding: 0.1rem;
  margin: 0.3rem 1rem;
}

.text {
  text-transform: uppercase;
}

.border {
  border: var(--green) solid 0.2rem;
  max-height: 100vh;
  border-radius: 0.9rem;
  margin: 1rem;
  padding: 1rem;
}
.frame {
  background: var(--purple);
}

.input {
  border: 2px solid;
  border-radius: 8px;
  padding: 0.2rem 1rem;
  margin: 1rem;
  width: 15rem;
}

.textinput {
  background: var(--purple);
  color: var(--green);
  border-color: var(--green);
}

.input-purple {
  background: var(--purple);
  color: var(--green);
  border-color: var(--green);
}

.input-green {
  background: var(--green);
  border-color: var(--purple);
  color: var(--purple);
}
