* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color:yellow;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background: #4d036e;
  min-height: 20vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4d036e;
  min-height: 80vh;
}

.btn-blue-bg {
  background: #4d036e;
  color: #41ff00;
  border: #41ff00 2px solid;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin: 1rem;
  width: 15rem;
}

.btn-yellow-bg {
  background: #41ff00;
  color: #4d036e;
  border: #4d036e 2px solid;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin: 1rem;
  width: 15rem;
}

.sound-icon {
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  height: 5rem;
  width: 5rem;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border:none;
  box-shadow: none;
}

.create-wg-header{
  background:#4d036e;
}

.create-wg-footer{background:#4d036e;
  /* height:20vh; */
}

.underline{
  background: #41ff00;
  padding:.1rem;
  margin:.3rem 1rem;
}

.text{
  text-transform: uppercase;
}

.border{
  border:#41ff00 solid .2rem;
  min-height:100vh;
  border-radius: .9rem;
  margin:2rem;
  
}
.frame{
padding:1rem; 
   background:#4d036e;
}