* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

// MODAL

.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkpurple);
  position: absolute;
  flex-direction: column;
  padding: 20px;
  .modal-text-area {
    width: 100%;
    padding: 20px 10px 20px 10px;
    background-color: var(--fucsia);
    border-radius: 20px 20px 0px 0px;
    border-top: 5px solid var(--green);
    border-left: 5px solid var(--green);
    border-right: 5px solid var(--green);
    h1 {
      margin-bottom: 10px;
    }
  }
  .modal-button-area {
    padding: 20px 0px 20px 0px;
    background-color: var(--fucsia);
    border-radius: 0px 0px 20px 20px;
    border-bottom: 5px solid var(--green);
    border-left: 5px solid var(--green);
    border-right: 5px solid var(--green);

  }

}

// COLORS

:root {
  --purple: #4d036e;
  --green: #41ff00;
  --yellow: #FFFF00;
  --fucsia: #FF00FF;
  --darkpurple: #4E0F6C;
}

html {
  font-size: 62.5%;
  color: var(--green);
  background-color: var(--purple);
}

.App {
  text-align: center;
}

.broom-mates-logo {
  width: 100%;
}

.header {
  margin: 2rem 0;
  height: 10vh;
}

.header-register-user {
  margin-bottom: 2rem;
  color: var(--yellow);
  h1 {
    margin-bottom: 5px;
  }
}

.footer {
  height: 5vh;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.sound-icon {
  background-color: var(--purple);
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  /* position: fixed;
  bottom: 2rem;
  left: 1rem; */
  border: none;
  box-shadow: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66vh;
}

.redux-form-elements {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.individual-task-container {
  text-align: left; 
}

.tasks-scroll-container {
  padding-top: 5vh;
  overflow: scroll;
  height: 50vh;
}

label {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0px;
  .label-push {
    margin-right: 10px;
  }
  p {

  }
}

.underline {
  background: var(--green);
  padding: 0.1rem;
  margin: 0.3rem 1rem;
}

.text {
  text-transform: uppercase;
}

.text-line-through {
  text-decoration: line-through;
}

.opacity {
  color: grey;
}

.border {
  border: var(--green) solid 0.5rem;
  max-height: 100vh;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
}

.frame {
  background: var(--purple);
}

// BUTTONS

.input {
  border: 2px solid;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin: 1rem;
  width: 15rem;
}

.input-purple:focus {
  /* background-color: red; */
  outline-style: none;
  box-shadow: none;
  border-color: var(--green);
}

.input-green:focus {
  outline-style: none;
  box-shadow: none;
  border-color: var(--purple);
}

.input-purple {
  background: var(--purple);
  color: var(--green);
  border-color: var(--green);
}

.input-green {
  background: var(--green);
  border-color: var(--purple);
  color: var(--purple);
}


.input:hover{
  cursor: pointer;
}

.input-fucsia {
  background: var(--fucsia);
  color: var(--darkpurple);
  border: 5px solid var(--green);
}

.user-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// .user {
//   margin: 1rem;
// }

.details {
  margin-bottom: 1rem;
}

// .user-header {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
// }

.player-profile-content {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    padding: 20px;
    margin-right: 4vh;
  }
  .player-status-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
  }
}

.userdetail-text {
  font-size: 2rem;
}

.totalpoints {
  font-size: 3rem;
}

.task {
  display: flex;
  margin: 1rem;
}

.unflex {
  display: block;
}

.left,
.right {
  display: flex;
}

.right {
  flex-direction: row-reverse;
}

.adduser-container {
  .text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border {
    margin: 0;
  }
}

.carousel {
  /* display: flex; */

  width: 11rem;
  height:15rem;
  /* color:green; */
  margin: 0 auto;
  /* border: green 1px solid; */
  overflow: hidden;
  display:flex;
  align-items: center;
}

.avatar{
 
  border: 5px solid var(--green);
  border-radius: 25px;
min-width:100%;
height:80%;
transition:.5s;

}

.carousel-container{
  display:flex;
  align-items: center;
}

.goArrow{
  max-width: 40px;
  max-height: 4rem;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar:hover {
  cursor: pointer;
}

//CHARACTER TASKS

.image {
  height: 100px;
  width: 100px;
}

.charInfos {
  display: flex;
  justify-content: space-evenly;
}

.charDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-item {
  display: flex;
}
